<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="">
                    <webHttp />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <client>
            <endpoint address="http://localhost:8000/Test" binding="webHttpBinding"
                bindingConfiguration="" contract="ServiceEsposed.IService" />
        </client>
    </system.serviceModel>
</configuration>